* {
    width: 100%;
    font-family: "Segoe UI", 'Roboto', sans-serif, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-size: 12px;
    background-color: #000000;
}

body,
td,
th {
    color: #FFFFFF;
}

body,
td,
th {
    color: #FFFFFF;
}

ul {
    padding: 0px;
}

li {
    list-style: none
}

a {
    text-decoration: none
}

h1,
h2,
h3,
h4,
h5,
h6,
form,
input,
select,
ul {
    margin: 0
}

img {
    border: 0;
}

p {
    margin: 0
}

.menu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.menu ul {    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
}

.menu ul li {
    margin-right: 10px;
    width: 140px;
    margin-top: 50px;
    list-style-type: none;
    display: inline;
}

.menu ul li a {
    text-align: center;
    color: #c1c1c1;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;
}

.menu ul li a:hover {
    color: #eeb332;   
    text-transform: uppercase;
    text-decoration: none;
}
.logo{
    width: 500px;
}

.hr{
    color: #fdb866;
}

.banner img {
    border: 2px solid #606060;
}
.listbrand{
    padding: 0 80px 0 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}
h3 {
    margin-top: 40px;
    margin-bottom: 30px;
    text-transform: uppercase;
    font-size: 23px;
    font-weight: 600;
    color: #fff;
    float: left;
    width: 100%;
    font-family: 'Vollkorn', serif;
    text-align: center;
}
.listbrand img {
    margin: 15px 40px;
    width: 15.5%;
    padding: 8px 30px;
    margin-bottom: 20px;
    background: #cacaca;
    border: 1px solid #3d3d3d;
    transition: all 0.3s;
}
.listbrand img:hover {
    transform: scale(1.1);
    border: none;
    transition: all 0.3s;
}

.brand h1 {
    float: left;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    font-size: 26px;
    line-height: 50px;
    color: #339557;
    font-family: 'Vollkorn', serif;
    margin-top: 30px;
    margin-bottom: 0px;
}

.brand .list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 0  150px 0 150px;
    
}

.brand .product {
    margin: 10px 10px;
    border: 0.7px solid #303030;
    float: left;
    width: 25%;
}

.brand .product img {
    width: auto;
    transition: all .3s;
    height: 270px;
    text-align: center;
    margin: 20px 20px 10px 20px;
}

.brand .product img:hover {
    transform: scale(1.1);

}

.brand .product h3 {
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    margin-top: 10px;
    width: 90%;
    line-height: 25px;
    height: 50px;
    overflow: hidden;
    margin-left: 5%;
    float: left;
    margin-bottom: 11px;
}

.brand .product p{
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    color: #fdb866;
    font-family: 'Roboto Condensed', sans-serif;
    margin-bottom: 10px;
}
.brand .product a h3:hover{
    color: #f9af4b;
}
.btn-view-all-product {
    margin-top: 60px;
    text-align: center;
    margin-bottom: 40px;
}

.btn-view-all-product a {
    background: #000000;
    color: #fdb866;
    border: 1px solid #fdb866;
    padding: 12px;
    font-size: 16px;
    border-radius: 10px;
    text-transform: uppercase;
}

.btn-view-all-product a:hover {
    background: #F9AF4B;
    color: black;
    border: 1px solid #fdb866;
    padding: 12px;
    font-size: 16px;
    border-radius: 10px;
    text-transform: uppercase;
}

.btn-view-all-product2 {
    margin-top: 60px;
    text-align: center;
    margin-bottom: 40px;
}

.btn-view-all-product2 a {
    background: #000000;
    color: #fdb866;
    border: 1px solid #fdb866;
    padding: 12px;
    font-size: 16px;
    border-radius: 10px;
    text-transform: uppercase;
}

.btn-view-all-product2 a:hover {
    background: #F9AF4B;
    color: black;
    border: 1px solid #fdb866;
    padding: 12px;
    font-size: 16px;
    border-radius: 10px;
    text-transform: uppercase;
}

.btn-view-all-product3 {
    margin-top: 60px;
    text-align: center;
    margin-bottom: 40px;
}

.btn-view-all-product3 a {
    background: #000000;
    color: #fdb866;
    border: 1px solid #fdb866;
    padding: 12px;
    font-size: 16px;
    border-radius: 10px;
    text-transform: uppercase;
}

.btn-view-all-product3 a:hover {
    background: #F9AF4B;
    color: black;
    border: 1px solid #fdb866;
    padding: 12px;
    font-size: 16px;
    border-radius: 10px;
    text-transform: uppercase;
}
.hr{
    height: 2px;
    width: 100%;
    background-color: #fdb866;
}



footer{
    margin-top: 30px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 400px;
}
.footer_2 h1, 
.footer_3 h1,
.footer_4 h1{
    color: #f9af4b;
    font-size: 20px;
}
.footer_1{
    text-align: center;
    width: 350px;
}
.footer_1 img{
    width: 200px;
}
.footer_2{
    background-color: #262626;
    width: 350px ;
    padding:10px 10px;
    margin-right: 40px;
    height: 370px;
}

.footer_2 p{
    font-size: 15px;
}
.footer_2 .icon{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.footer_2 .facebook_icon{
    text-align: center;
    width: 100px;
    background-color: #3B5998;
    border-radius: 30px;
    height: 30px;
    line-height: 30px;
    cursor: pointer;
}

.footer_2 .youtobe_icon{
    text-align: center;
    width: 100px;
    background-color: red;
    border-radius: 30px;
    height: 30px;
    line-height: 30px;
    cursor: pointer;
}
.footer_2 .bo_cong_thuong{
    width: 120px;
}
.footer_2 .bo_cong_thuong img{
    width: 90%;
    margin-top: -5px;
}
.footer_3{
    width: 350px ;
}
.footer_3 p ,
.footer_4 p{
    padding: 5px 0;
    font-size: 18px;
    font-weight: 100;
}
.footer_4{
    width: 350px ;
}
.footer_4 .phone_number{
    background-color: #f9af4b;
    width: 200px;
    height: 30px;
    border-radius: 30px;
    text-align: center;
}
.footer_4 .phone_number p{
    line-height: 20px;
    font-size: 18px;
    color: black;
    font-weight: 400;
}
.footer_4 .phone_number span{
    font-size: 20px;
    color: black;
    font-weight: 400;
}


/* Trang chi tiết sản phẩm */
.thongtin_sanpham{
    width: 100%;    
    min-height: 500px;
}
.head_desc{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.head_left{
    text-align: center;
    padding: 50px 0 0 60px;

}
.head_left img{
    width: 70%;
}


.head_center {
    padding: 10px 20px 10px 20px;
}
.head_center span{
    color: orange;
}
.head_center .button{
    padding: 0 10px 0 10px;
    margin-top: 20px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}
.head_center .button .buy{
    background-color: #fdb866;
    color: white;
    width: 47%;
    height: 50px;
    text-align: center;
    border-bottom: 3px solid  #ec860a;
}
.head_center .button .buy p{
    color: black;
    font-size: 20px ;
    line-height: 50px;
}
.head_center .button .add{
    background-color: rgb(246, 37, 37);
    color: white;
    width: 47%;
    height: 50px;
    text-align: center;
    border-bottom: 3px solid rgb(253, 126, 126);
}
.head_center .button .add p{
    color : black;
    font-size: 20px;
    line-height: 50px;
}


.head_right{
   padding: 100px
    
}
.head_right .box1, .box2, .box3{
    margin-bottom: 10px;
    border: 1px solid orange;
    border-radius: 5px;
    padding: 10px 20px 10px 20px;
}
