/* Trang chủ admin */
.admin {
  width: 100%;
}
.admin main {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.admin main .main_left {
  width: 20%;
  /* background-color: #4e73df; */
  background-color: #000;
}
.admin main .main_left .logo {
  width: 100%;
  text-align: center;
  margin-top: 10px;
}

.admin main .main_left ul {
  padding: 20px 0 10px 10px;
  list-style: none;
}
.admin main .main_left ul li {
  padding-left: 20px;
  margin-bottom: 20px;
  list-style: none;
}
.admin main .main_left ul li a {
  text-decoration: none;
  padding: 0px 10px 30px 10px;
  font-size: 15px;
  color: #ffffffcc;
}
.admin main .main_left ul li a i {
  font-size: 20px;
  width: 40px;
}
.admin main .main_left ul li a:hover {
  color: rgb(233, 156, 14);
}

.admin main .main_right {
  padding: 0px 30px 0px 30px;
  display: flex;
  flex-direction: column;
  width: 80%;
  /* background-color:#f8f9fc; */
  background-color: #e3e3e9;
  color: black;
}
.admin main .main_right .head {
  display: flex;
  flex-direction: row;
  padding: 0px 20px 0px 20px;
}
.admin main .main_right .head .form {
  width: 70%;
  padding: 20px 20px 10px 20px;
  display: flex;
  flex-direction: row;
}
.admin main .main_right .head .form input[type="text"]{
  width: 200px;
  outline: none;
  border-radius: 5px;
  border: none;
}
.admin main .main_right .head .form input[type="submit"]{
    border-radius: 5px;
   background-color: #4e73df;
}
.admin main .main_right .head .option {
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 30%;
  float: right;
  padding: 0 40px;
}
.admin main .main_right .head .option i {
  line-height: 50px;
}
.admin main .main_right .head .option i:hover {
  color: orangered;
}
.admin main .main_right .head .option h6 {
  line-height: 50px;
}
.admin main .main_right .head .option .user {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  line-height: 50px;
}
.admin main .main_right .head .option .user .hinh {
  width: 40px;
  height: 40px;
  margin-left: 20px;
}
.admin main .main_right .head .option .user .hinh img {
  width: 40px;
}
/* .admin main .main_right .head .form_admin{
    width: 400px;
  
    display: flex;
    flex-direction: row;
  }
  .admin main .main_right .head .form_admin input[type="text"]{
    width: 200px;
  }
   
  .admin main .main_right .head .form_admin input[type="submit"]{
    width: 100px;
  } */

.main_right .content {
  width: 100%;
  min-height: 800px;
}
.main_right .content .row table thead th {
  background-color: rgb(255, 166, 0);
}

.admin main .main_right .boxes {
  margin-top: 10px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}
.admin main .main_right .boxes .box {
  width: 150px;
  height: 70px;
  background-color: #fff;
  border: 1px solid #e3e6f0;
  border-radius: 5px;
  text-align: center;
}
.admin main .main_right .boxes .box:nth-child(1) {
  border-left: 5px solid rgb(78, 115, 223);
}
.admin main .main_right .boxes .box:nth-child(2) {
  border-left: 5px solid rgb(28, 200, 138);
}
.admin main .main_right .boxes .box:nth-child(3) {
  border-left: 5px solid rgb(54, 185, 204);
}
.admin main .main_right .boxes .box:nth-child(4) {
  border-left: 5px solid rgb(246, 194, 62);
}
.admin main .main_right .chart {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
}
.admin main .main_right .chart .chart_left {
  border: 1px solid #e3e6f0;
  border-radius: 5px;
  width: 60%;
  height: 500px;
  margin-right: 5%;
  background-color: #fff;
  padding: 10px;
}
.admin main .main_right .chart .chart_right {
  border: 1px solid #e3e6f0;
  border-radius: 5px;
  width: 35%;
  height: 500px;
  background-color: #fff;
  padding: 10px;
}

.admin main .main_right footer {
  width: 100%;
  text-align: center;
  height: 50px;
  color: orangered;
  font-size: 20px;
  margin-top: 20px;
}
/* TRANG DANH SÁCH KHÁCH HÀNG */
.table-container {
  display: flex;
  color: #5a5c69;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.main-trai {
  width: 19.5%;
  background-color: #000;
}

.main-phai {
  width: 80.5%;
  background-color: #f8f9fc;
}

.admin-seach {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  /* Căn giữa theo chiều dọc */
  padding: 10px;
  /* Thêm padding để tạo khoảng cách xung quanh */
  background-color: #ffffff;
}

.seach {
  display: flex;
  align-items: center;
  float: left;
  margin-right: 700px;
}

.seach .icon i {
  background-color: #4e73df;
  color: white;
  width: 40px;
  height: 41.4px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}


.input input {
  background-color: #eceff5;
  border: none;
  height: 40px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  width: 320px;
  outline: none;
}

.notices-and-letters {
  padding-right: 20px;
  /* Tạo khoảng cách giữa border và nội dung bên trong */
  margin: 20px;
}

.avata {
  border-left: 1px solid;
  /* Tạo border-right */
  padding-left: 40px;
  display: flex;
  align-items: center;
  margin-right: 25px;
}

.avata img {
  border-radius: 50%;
  width: 25px;
  margin-left: 10px;
  /* Khoảng cách bên trái là 30px */
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  
}
.table-main{
  width: 97%;
  margin: 0 auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}
.table-main h3{
  color: #385ece;
  background-color:#efeff1;
  height: 50px;
  padding-left: 20px;
  padding-top: 25px;
}
th,
td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}

.table-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 50px;
}

.table-header-left {
  display: flex;
  align-items: center;
}

.table-header-right {
  display: flex;
  align-items: center;
}

.pagination-select,
.search-input {
  margin-left: 10px;
  padding: 5px;
}
.table-header,
table{
  width: 97%;
  margin: 0 auto;
}

.main-trai .menu_admin ul {
  padding: 20px 0 10px 10px;
  list-style: none;
}
.main-trai ul li {
  padding-left: 20px;
  margin-bottom: 20px;
  list-style: none;
}
.main-trai ul li a {
  text-decoration: none;
  padding: 0px 10px 30px 10px;
  font-size: 15px;
  color: #ffffffcc;
}
.main-trai ul li a i {
  font-size: 20px;
  width: 40px;
}
.main-trai ul li a:hover {
  color: rgb(233, 156, 14);
}
